
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 767px, lg: 993px, xl: 1201px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);
$gutter: $grid-gutter-width;


//fonts
$default-font: "RobotoRegular";
$bold-font: "RobotoBold";

//colors
$accent-1: #AB2328;
$accent-2: #27AE60;